@import '@natgeo/styleguide/lib/styles/styleguide-default.scss';
.mt_visuallyhidden {
  display: none;
}

html,
body,
#ngeo-aut0-client {
  background: #ffffff;
  font-family: Helvetica, Arial, Sans-Serif;
  height: 100%;
}

a.link {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid #fc0;
  background-image: linear-gradient(120deg, #fc0 0%, #fc0 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
  transition: background-size 0.125s ease-in;

  &:hover {
    border-color: #fc0;
    background-size: 100% 100%;
  }
}

.field-base {
  appearance: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;

  &:disabled {
    background-color: #f2f2f2;
  }

  &::placeholder {
    color: #808080;
  }
}
